* {
    outline: 1px solid red;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    justify-content: space-between;
}

h1 {
    font-size: 46px;
}

h2 {
    font-size: 22px;
}

h3 {
    font: 16px;
}

h4 {
    font: 12px;
}

strong {
    color: red;
    font-weight: bolder;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-list ol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header, .footer {
    background-color: yellow;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .item {
    padding: 46px;
}

.container {
    display: flex;
    flex-direction: row;
}

.banner {
    background-color: grey;
    margin: 0;
    padding: 0;
}

.banner-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.large-text {
    color: blue;
    width: 800px;
}

.small-text {
    color: lightgreen;
}

li {
    text-decoration: none;
    list-style: none;
}

