

body {
    background-color: #6B8E23;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    justify-content: space-between;
}

h1 {
    font-size: 36px;
    color: yellow;
}

h2 {
    font-size: 18px;
}

h3 {
    font: 14px;
    color: yellow;
}

h4 {
    font: 8px;
    color: yellow;
}

strong {
    color: red;
    font-weight: bolder;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-list ol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header, .footer {
    background-color: #333333;
}

.hero-section button {
    font-size: 16px;
    font-weight: bold;
    color: yellow;
    background-color: red;
    border-radius: 12px;
}

main {
    background-color: #6B8E23;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
}

.item {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 46px;
}

.banner {
    background-color: #646464;
}

.banner-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cta-background {
    width: 1200px;
    height: 120px;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Call-to-Action {
    background-color: #6B8E23;
    display: flex;
    justify-content: center;
}

.Call-to-Action button {
    background-color: red;
    font-size: 16px;
    font-weight: bold;
    color: wheat;
    width: 130px;
    height: 60px;
    border-radius: 12px;
}

.cta-button {
    display: flex;
    align-items: center;
}

.cta-text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cta-text, .cta-large-text, .cta-small-text {
    color: red;
}

.large-text {
    color: wheat;
    width: 800px;
}

.small-text {
    color: wheat;
}

li {
    text-decoration: none;
    list-style: none;
}

p {
    color: wheat;
    font-size: 18px;
}

a {
    color: red;
    text-decoration-line: none;
}

